ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
li
{
    font-size: 1.6rem;
    border: .1rem solid black;
    color: black;
    display: flex;
    justify-content: center;
    width: 80%;
    height: 10%;
    align-items: center;
    font-family: 'Calistoga', cursive,'Crimson Text', serif;
}
 
a{
    text-decoration:none;
    color:black
}
    


